$color1: #0AEFFF;
$color2: #0AFF99;
$color3: #000;
$color4: #00171f;
$color5: #c18c07;
$color6: #e7e0ce;
$color7: #FCFFEB;
$color8: #ffba08;
$title: #bcb8b1;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 1.5;
}

*, *::before, *::after{
    box-sizing: inherit;
}
/* Body */
body{
    width: 100%;
    background: linear-gradient(to top, $color4, $color3);

    /* First Section */
    .container-fluid{

        /* Navbar */
        .navbar{
            height: 10vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #000;
            box-shadow: 1px 1px 10px -2px $color1;
            width: 100%;
            padding: 0;
            margin: 0;
            .logo{
                font-size: 32px;
                background: linear-gradient(to right, $color2, $color1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-left: 30px;
            }
            ul{
                li{
                    display: inline-block;
                    margin-right: 150px;
                    font-size: 20px;
                    background: linear-gradient(to right, $color2, $color1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &:hover{
                    background: linear-gradient(to right, $color6, $color5);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    cursor: pointer;
                }
            }
        }
    }

    /* Main Content */
    .main-container{
    display: flex;
    flex-direction: row;

    /* Left Float */
    .left{
        float: left;
        width: 20%;
    }

    /* Middle Content */
    .main-content{
        flex-grow: 0;
        background-color: #161a1d;
        margin: 5px 20px;
        padding: 10px;
        overflow: auto;
        width: 60%;
        
        /* Articles */
        .content1{
            line-height: 2;
            letter-spacing: 1.5px;
            margin: 0 0 20px 0;
            color: $color7;
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;

            /* Title of the Content */
            h1{
                margin: 10px 0;
                font-size: 60px;
                font-weight: 600;
                font-family: 'Dancing Script', cursive;
                letter-spacing: 3px;
                color: $title;
                text-align: start;
            }

            /* Illustrations for topic */
            img{
                float: left;
                shape-outside: margin-box;
                border-radius: 0 0 120px 0;
                margin: 0 15px 10px 0;
                max-width: 490px;
                width: 480px;
                height: auto;
            }

            /* First Quote */
            .quote{
                background: $color7;
                padding: 10px;
                color: $color3;
                border-radius: 0 0 10px 10px;
                clear: right;
                font-size: 22px;
                font-weight: 500;
                float: right;
                width: 40%;
                margin-bottom: 10px;
                text-align: start;
                line-height: 1.5;
            }
            
            
            p{
                .larger{
                    color: $color8;
                    font-size: 20px;
                }
            }
            p{
                .little {
                    color: $color8;
                    font-size: 30px;
                }
            }
            p {
                .larger{
                    color: $color8;
                    font-size: 30px;
                    position: relative;
                }
            }

            /* Second Quote */
            .quote2{
                background-color: $color7;
                color:#000;
                max-width: 46%;
                padding: 10px;
                float: left;
                border-radius: 0 10px 10px 0; 
                display: inline;
                margin: 10px 10px 0px 0px;
            }
            
        }

        /* Representation */
        .illustration{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            *{
                margin-bottom: 10px;
            }
            p{
                font-size: 25px;
                color: $color7;
                letter-spacing: 1.5px;
            }
            hr{
                height: 10px;
                width: 100%;
                background-color: $title;
                margin-bottom: 20px;
            }
            .img1{
                width: 80%;
                max-width: 85%;
                height: auto;
            }
            .img2{
                margin-top: 10px ;
                width: 80%;
                max-width: 85%;
                height: auto;
            }
        }

        /* Article Two */
        .content2{
            background: $color7;
            max-width: 60%;
            border-radius: 0 0 0 30px;
            margin: 20px 0;
            float: right;
            text-align:start;
            padding: 10px 0;
            .quote3{
                color:#000;
                line-height: 2;
                padding: 0 10px;
                p{
                    .larger{
                        color: $color8;
                        font-size: 20px;
                    }
                }
                p{
                    .little {
                        color: $color8;
                        font-size: 20px;
                    }
                }
                p {
                    .largest{
                        color: $color8;
                        font-size: 30px;
                        position: relative;
                    }
                }
            }
        }
    }

    /* Float Right */
    .right{
        float: right;
        width: 20%;
    }

    }

    /* Uppper Button */
    .top-btn{
        position: fixed;
        top: 90%;
        left: 90%;
        color: $color1;
        font-size: 50px;
        &:hover{
            text-shadow: 3px 3px 30px $color1 !important;
        }
    }
}


/* footer */
body{
    .footer {
        .main-connect{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 15vh;
            padding: 0;
            margin: 0;
            background-color: #000;
            box-shadow: 1px 1px 10px -2px $color1;
            i{
                margin-right: 5px;
                margin-top: 10px;
            }
            span{
                color: $color6;
            }
            ul li{
                display: inline-block;
                margin-left: 40px;
                padding: 10px;
                font-size: 40px;
                transform: translateX(-5px) ;
                a {
                    color: #0AEFFF;
                    &:hover{
                    text-shadow: 3px 3px 30px #0AEFFF !important;
                    }
                }
            }
        }
    }
}
@import './_laptop1445.scss';
